/* RESET RULES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

/**************** STYLE ******************/

/* nav bar */
nav .container {
    margin-left: 0px;
    margin-right: 0px;
    max-width: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ricerca {
    background-color: #E5E5E5;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
}

.logo {
    display: flex;
    align-items: center;
}

nav .col-auto ul {
    padding: 0;
    margin: 0;
    gap: 10px;
}

/* main - aside */

.side-menù {
    max-width: 180px;
    width: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comandi-gen {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 15px;
}

/* main - data */


/******************* UTILITY ********************/

nav section {
    background-color: #F8F9FA;
}

nav .ristretta .row {
    padding-right: 10px;
}

nav .row {
    background-color: white;
}

.generic-info {
    background-color: #1B72E8;
}

.col-8 ul,
.col-4 ul {
    padding-left: 0px;
}

.col-4 ul {
    padding-right: 15px;
}


/* MEDIA QUERY */

