/* RESET RULES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

/**************** STYLE ******************/

/* nav bar */
nav .container {
    margin-left: 0px;
    margin-right: 0px;
    max-width: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ricerca {
    background-color: #E5E5E5;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
}

.col-auto {
    display: flex;
    align-items: center;
}

nav .col-auto ul {
    padding: 0;
    margin: 0;
    gap: 10px;
}

/* main - aside */

.side-menù {
    max-width: 70px;
    width: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comandi-gen {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 15px;
}

/* main - data */


/******************* UTILITY ********************/

.scomparsa {
    display: none;
}

nav section {
    background-color: #F8F9FA;
}

nav .ristretta .row {
    padding-right: 10px;
}

nav .row {
    background-color: white;
}

.mini-logo {
    height: 35px;
}

.generic-info {
    background-color: #1B72E8;
}

.col-8 ul,
.col-4 ul {
    padding-left: 0px;
}

.col-4 ul {
    padding-right: 15px;
}

.card-con-schema p {
    font-size: 15px;
}


/* MEDIA QUERY */

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .generic-info .col-4 {
        width: calc(100% / 3);
    }
}

@media (min-width: 992px) {
    .mini-logo {
        display: none;
    }

    .scomparsa {
        display: inline-block;
    }

    .side-menù {
        max-width: 140px;
    }

    .generic-info .col-6 {
        width: calc(100% / 2);
    }

    .generic-info .col-3 {
        width: calc(100% / 4);
    }

    .tabelle-dati .col-8 {
        width: calc((100% / 3) * 2);
    }

    .tabelle-dati .col-4 {
        width: calc(100% / 3);
    }
}